<%- include("templates/header") %>

<div class="container">
<h1>USERS:</h1>
    <ul>
        <% let i=0; %>
		<% for(i=0; i < users.length; i++) { %>
        <%- include('templates/user', {user: users[i]})  %> 
        <% } %> 
    </ul>
</div>

<%- include("templates/footer") %>