<%- include("templates/header") %>

<div class="d-flex justify-content-center justify-content-bottom">
    <img src="/cat_staring.gif">
</div> 
<div class="d-flex justify-content-center justify-content-bottom">
    <h2 class="text-danger">ERROR: <%= error %>!</h2>
</div> 

<%- include("templates/footer") %>