<%- include("templates/header") %>

<div class="container text-center">
    <h1 class="my-3">Welcome to the Archive</h1>
    <form action='/signup' method='redirect'>
        <button class="mb-3 btn btn-secondary">Sign up</button>
    </form>
    <form action='/login' method='redirect'>
        <button class="btn btn-secondary">Log in</button>
    </form>
</div>
        
<%- include("templates/footer") %>