<%- include("templates/header") %>

<div class="container">
<h1>Log In</h1>
    <form class="mb-4 container" action='/loggingin' method='post'>
    <input class="row" name='email' type='email' placeholder='email'>
    <input class="row" name='password' type='password' placeholder='password'>
    <button class="row">Submit</button>
    </form>

    <% if (noAccount){ %>
        <p class="text-danger">No account for this email!</p>
    <% } %>
    <% if (wrongPassword){ %>
        <p class="text-danger">Incorrect password for this account</p>
    <% } %>
    <% if (emailMissing){ %>
        <p class="text-danger">Email Missing!</p>
    <% } %>
    <% if (passwordMissing){ %>
        <p class="text-danger">Password Missing!</p>
    <% } %>
</div>

<%- include("templates/footer") %>