<%- include("templates/header") %>

<div class="container text-center">

<h1 class="mb-5">Hello, <%= username %>!</h1>

<div class="container">
<div class="row">
    <div class="col-md"><img width="200" src="/learn_more.png"></div>
    <div class="col-md"><img width="200" src="/most_wanted.png"></div>
    <div class="col-md"><img width="200" src="/god.png"></div>
  </div>
  <div class="row">
    <div class="col-md"><img width="200" src="/5.jpg"></div>
    <div class="col-md"><img width="200" src="/6_dollar.jpg"></div>
    <div class="col-md"><img width="200" src="/amazed.gif"></div>
  </div>
  <div class="row">
    <div class="col-md"><img width="200" src="/BLEEEGHHH.png"></div>
    <div class="col-md"><img width="200" src="/jincpope.gif"></div>
    <div class="col-md"><img width="200" src="/standing.gif"></div>
  </div>
</div>

</div>

<%- include("templates/footer") %>