<%- include("templates/header") %>
<div class="container">
<h1>Sign Up</h1>
<div class="row container">
    <form class="mb-4 container col" action='/submituser' method='post'>
        <div class="mb-3 row-1">
            <label for="username" class="form-label">Username</label>
            <input name="username" type="text" class="form-control" id="username">
          </div>
        <div class="mb-3 row-2">
            <label for="exampleInputEmail1" class="form-label">Email</label>
            <input name="email" type="email" class="form-control" id="exampleInputEmail1">
          </div>
          <div class="mb-3 row-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input name="password" type="password" class="form-control" id="exampleInputPassword1">
          </div>
          <button type="submit" class="btn btn-primary row-3">Submit</button>
    </form>
    <div class="col"></div>
    <div class="col"></div>
</div>

<% if (anotherAccount){ %>
    <p class="text-danger">There is already another account using that email!</p>
<% } %>
<% if (nameMissing){ %>
    <p class="text-danger">Username Missing!</p>
<% } %>
    <% if (emailMissing){ %>
    <p class="text-danger">Email Missing!</p>
<% } %>
<% if (passwordMissing){ %>
    <p class="text-danger">Password Missing!</p>
<% } %>

</div>

<%- include("templates/footer") %>